body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* General Page Layout */
.browse-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #dde3e4;
  overflow: hidden;
}

/* Header */
.browse-header {
  position: relative; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #33539E;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 100%;
}

.browse-header button {
  flex-shrink: 0; 
}

.browse-back-button {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 1rem;
  color: white;
  background: linear-gradient(180deg, #FDC830, #d29a01, #d19a00);
  border: solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fwd-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: linear-gradient(180deg, #FDC830, #d29a01, #d19a00);
  border: solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fwd-button:hover {
  transform: scale(1.05);
}

/* Main Container */
.browse-container {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-top: 3px solid #33539E;
  overflow-y: auto;
}

/* Filter */
.filter-text {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  text-decoration: underline;
  color: #33539E;
  cursor: pointer;
}

.filter-text:hover{
  color: #FDC830;
}

.refresh-button {
  margin-left: 10px;
  font-size: 1rem;
  background-color: #FDC830;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #eeaf00;
  transition: background-color 0.2s;
}

/* Courses (all) */
.main-courses {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.browse-course-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 30%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
}

.browse-course-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #33539E;
}

.browse-course-card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #333;
}

/* Course details */
.course-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.course-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #33539E;
}

.course-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #333333;
}
