/* Overall Layout */
.course-registration-layout {
    display: flex;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar */
.sidebar {
    width: 25%;
    background-color: #33539E;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
  
.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid #FDC830;
    padding-bottom: 10px;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
}
  
.sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}
  
.sidebar ul li:hover {
    transform: scale(1.10);
}
  
/* Main Content */
.content {
    flex: 1;
    padding: 20px;
    background-color: #dde3e4;
    overflow-y: auto;
}
  
.content h1 {
    font-size: 2em;
    margin-bottom: 1em;
}
  
.content-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
  
.content-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.content-section h3 {
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
}

.content-section h3:hover {
    color: #FDC830;
}
  
.content-section ul {
    list-style: square;
    padding-left: 20px;
}
  
.content-section ul li {
    margin: 5px 0;
    font-size: 1em;
}


/* Dropdown Menu */
.dropdown-menu {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
    border-left: 2px solid #1b4199;
    background-color: #f9f9f9;
}
