.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper .forgot-pw {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.wrapper .forgot-pw a {
    color: yellow;
    text-decoration: none;
}

.wrapper .forgot-pw a:hover {
    color: gold;
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.wrapper button:hover {
    background: linear-gradient(135deg, rgb(95, 37, 135), purple, rgb(157, 44, 157), goldenrod, gold);
    transform: scale(1.05);
}

.wrapper .register-user {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .register-user p a {
    color: yellow;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-user p a:hover {
    color: gold;
    text-decoration: underline;
}